<template>
  <div class="home card">
    <!-- <img class="home-bg" src="@/assets/images/welcome.png" alt="welcome" /> -->
    <el-row v-for="item in cacheStation" :key="item.id" class="row flex">
      <el-col :span="3">{{ item.name }}</el-col>
      <el-col class="right r" :span="21">
        <el-row v-for="c in Object.keys(item.cacheLayerInfos)" :key="c" class="flex bl">
          <el-col :span="3">{{ c }}({{ item.cacheLayerInfos[c].basketNum }})</el-col>
          <el-col class="right" :span="21">
            <el-row class="contentBox">
              <el-col class="content" :class="item.cacheLayerInfos[c].basketNum >= 50 ? 'color' : ''" :span="3">{{
                item.cacheLayerInfos[c].qtimeList[4] > 0 ? item.cacheLayerInfos[c].qtimeList[4] + "传送带" : ""
              }}</el-col>
              <el-col class="content" :class="item.cacheLayerInfos[c].basketNum >= 40 ? 'color' : ''" :span="3">{{
                item.cacheLayerInfos[c].qtimeList[3] > 0 ? item.cacheLayerInfos[c].qtimeList[3] + "传送带" : ""
              }}</el-col>
              <el-col class="content" :class="item.cacheLayerInfos[c].basketNum >= 30 ? 'color' : ''" :span="3">{{
                item.cacheLayerInfos[c].qtimeList[2] > 0 ? item.cacheLayerInfos[c].qtimeList[2] + "传送带" : ""
              }}</el-col>
              <el-col class="content" :class="item.cacheLayerInfos[c].basketNum >= 20 ? 'color' : ''" :span="3">{{
                item.cacheLayerInfos[c].qtimeList[1] > 0 ? item.cacheLayerInfos[c].qtimeList[1] + "传送带" : ""
              }}</el-col>
              <el-col class="content" :class="item.cacheLayerInfos[c].basketNum >= 10 ? 'color' : ''" :span="3">{{
                item.cacheLayerInfos[c].qtimeList[0] > 0 ? item.cacheLayerInfos[c].qtimeList[0] + "传送带" : ""
              }}</el-col>
            </el-row>
          </el-col>
        </el-row>
      </el-col>
    </el-row>
  </div>
</template>

<script setup lang="ts" name="home">
import { ref } from "vue";
const cacheStation: any = ref([]);
cacheStation.value = [
  {
    name: "缓存机1",
    cacheLayerInfos: {
      one: { basketNum: 50, qtimeList: [1, 2, 3, 4, 5] },
      two: { basketNum: 50, qtimeList: [1, 2, 3, 4, 5] },
      three: { basketNum: 50, qtimeList: [1, 2, 3, 4, 5] },
      four: { basketNum: 50, qtimeList: [1, 2, 3, 4, 5] }
    }
  },
  {
    name: "缓存机2",
    cacheLayerInfos: {
      one: { basketNum: 50, qtimeList: [1, 2, 3, 4, 5] },
      two: { basketNum: 50, qtimeList: [1, 2, 3, 4, 5] },
      three: { basketNum: 50, qtimeList: [1, 2, 3, 4, 5] },
      four: { basketNum: 50, qtimeList: [1, 2, 3, 4, 5] }
    }
  }
];
console.log(cacheStation.value);
</script>

<style scoped lang="scss">
// @import "./index.scss";
.row {
  margin: 10px;
  border-radius: 5px;
  // background: linear-gradient(45deg, #d9e8e5, #ffffff);
  background: #e5ede9;
  color: #009688;
  font-weight: bold;
}
.col,
.row {
  // border: 1px solid;
  .right {
    border-left: 1px solid;
    box-shadow: 1px 1px 3px 0 inset;
    color: darkgray;
  }
}
.bl {
  border-bottom: 1px solid;
}
.r .bl:last-child {
  border: none;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentBox {
  display: flex;
  justify-content: space-around;
  padding: 5px;
}
.content {
  height: 20px;
  border-radius: 5px;
  border: 1px solid #0094dd;
}
.color {
  background-color: #38aadd;
  color: #efefef;
  text-align: center;
  // border: none;
}

.flex {
  display: flex;
  justify-content: flex-start;
}
.tip {
  font-size: 16px;
  margin-left: 10px;
  span {
    color: red;
  }
}
.heard {
  position: relative;
}
.select {
  min-width: 150px;
}
.heardL {
  position: absolute;
  right: 0;
  top: 0;
  button {
    margin-left: 10px;
  }
}
:deep(.el-col-3) {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
